*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body h1 {
    text-align: center;
    color: rgba(255, 217, 0, 0.863);
    font-style: italic;
    font-size: 3rem;
}
#gridContainer {
    width: 50rem;
    height: 50rem;
    margin: auto;
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: start;
    background-color: white;
}

.etchContainer {
    width: 60rem;
    height: 70rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid red;
    border-radius: 40px;
    background-color: red;
    
}

.etchNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    height: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.innerGrid {
    border: 1px solid rgb(161, 155, 155);
}

.gridColor {
    background-color: black;
}

.setBtn {
    display: block;
    width: 7rem;
    height: 7rem;
    padding: 0.3rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: red;
    font-size: 1rem;
}

.setBtn:hover {
    background-color: gray;
}

.Chakra {
    font-family: 'Chakra Petch', sans-serif;
}

.title {
    margin-top: 1.5rem;
}