*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body h1 {
    text-align: center;
}
#gridContainer {
    width: 60rem;
    height: 60rem;
    margin: auto;
    margin-top: 2rem;
    border: 2px dashed red;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: start;
    

}

.innerGrid {
    border: 1px solid rgb(161, 155, 155);
}

.gridColor {
    background-color: black;
}

.setBtn {
    display: block;
    width: 7rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 10% / 50%;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
}

.setBtn:hover {
    background-color: gray;
}